/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
    max-width: 1000px;
    margin: auto;
}

.cta h1 {
    float: left;
    width: 300px;
    text-align: center;
    font-size: 80px;
    margin: 70px;
}

.slogan {
    display: block;
}

.start {
    display: block;
    font-size: 20px;
    font-family: serif;
    border: solid;
    border-width: thin;
    padding: 0;
}

.cta img {
    display: inline;
}

.cta {
    border-bottom: solid;
    border-bottom-width: 1px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.content-top {
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-topleft {
    float: left;
    margin-right: 10px;
}

.content-topleft, .content-topright {
    width: 400px;
    display: inline-block;
}


nav a {
    padding: 20px;
    color: gray;
    text-decoration: none;
}

nav, .logo {
    display: inline;
    margin-left: 25px;
}

.content-bottomleft {
    float: left;
}

.content-bottom {
    border-bottom: solid;
    border-bottom-width: 1px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

.content-bottomleft, .content-bottommiddle, .content-bottomright {
    width: 275px;
    display: inline-block;
    margin-right: 10px;
}

footer {
    display: inline-block;
    padding-top: 10px;
    width: 150px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
}
